<div class="page-header">
  <h2>Resend Unlock Instructions</h2>
</div>

<%= bootstrap_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
	<%= f.bs_email_field :email, placeholder: "Email", :autofocus => true %>
	<%= f.bs_submit "Resend Unlock Instructions" %>
<% end %>

<div class="col-sm-offset-2 col-sm-10">
	<%= render "devise/shared/links" %>
</div>

